@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-rgb: 0, 0, 0;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 253, 253, 253;
    --background-end-rgb: 0, 0, 0;
}

.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


.loader-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out;
    position: absolute;


    .loader-wrapper {
        position: relative;
        height: 11em;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .overflow-box {
            position: absolute;
            width: 250px;
            height: 8em;
            opacity: 0.9;
            background-color: #ffffff;
            transition: ease-in;
            animation: overflowBoxAnimation 1.6s ease-in-out infinite;
        }

        .loader {
            font-size: 5em;
            /* animation: loaderAnimation 2s ease-in-out infinite; */
        }
    }
}


@keyframes overflowBoxAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-100px);
        opacity: 0.4;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loaderAnimation {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes leftSvgAnimation {
    0% {
        opacity: 0;
        transform: scale(0) translateX(-500%);
    }

    70% {
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes rightSvgAnimation {
    0% {
        opacity: 0;
        transform: scale(0) translateX(500%);
    }

    70% {
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

@keyframes starIconAnimation {
    0% {
        opacity: 0.7;
        transform: scale(0);
    }

    50% {
        transform: scale(0);
    }

    70% {
        transform: scale(1.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes buttonAnimation {
    0% {
        opacity: 0.7;
        transform: scale(0);
    }

    70% {
        transform: scale(0);
    }

    90% {
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes mainPageLabelAnimation {
    0% {
        opacity: 0;
        transform: scale(1) translateY(-70vh);
    }

    50% {
        opacity: 0;
        transform: scale(1) translateY(5vh);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes mainPageDescriptionAnimation {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.left-svg-animation {
    @apply animate-[leftSvgAnimation_1s_ease-in-out];
}

.right-svg-animation {
    @apply animate-[rightSvgAnimation_1s_ease-in-out];
}

.star-icon-animation {
    @apply animate-[starIconAnimation_2.5s_ease-in-out];
}

.button-animation {
    @apply animate-[buttonAnimation_1s_ease-in-out];
}

.label-animation {
    @apply animate-[mainPageLabelAnimation_1s_ease-out];
}

.description-animation {
    @apply animate-[mainPageDescriptionAnimation_1s_ease-out];
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}