@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-rgb: 0, 0, 0;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 253, 253, 253;
    --background-end-rgb: 0, 0, 0;
}

.dark {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}